<h1>楽曲詳細</h1>
<div class="music-details">
  <div class="music-info">
    <p><strong>タイトル:</strong> <%= @music.title %></p>
    <p><strong>アーティスト:</strong> <%= @music.artist %></p>
    <p><strong>難易度:</strong> <%= @music.difficulty %></p>
    <p><strong>ジャンル:</strong> <%= @music.genre %></p>
  </div>
  <div class="music-links">
    <%= link_to "リンクを追加", new_link_path(music_id: @music.id), class: "btn btn-add-link" %>
    <% if @link&.video_url.present? %>
      <%= link_to "動画を見る", @link.video_url, class: "btn btn-primary", target: "_blank", rel: "noopener" %>
    <% end %>
    <% if @link&.score_url.present? %>
      <%= link_to "スコアを見る", @link.score_url, class: "btn btn-secondary", target: "_blank", rel: "noopener" %>
    <% end %>
  </div>
</div>

<div class="comments-section">
  <h3>コメント</h3>
  <%= link_to "コメントを追加", new_comment_path(music_id: @music.id) %>
  <% @comments.each do |c| %>
    <div class="comment">
      <div class="user-info">
        <p class="user-id"><strong><%= c.user.uid %></strong></p>
        <p class="user-experience"><%= c.user.history %>１日<%= c.user.practice %>時間練習</p>
      </div>
      <p class = "my-difficulty">
      マイ難易度：
      <% 5.times do |i| %>
        <% if i < @music.difficulty %>
          <span class="star-filled">★</span>
        <% else %>
          <span class="star-empty">☆</span>
        <% end %>
      <% end %>
      <h4><%= c.title %></h4>
      </p>
      <p><%= c.body %></p>
    </div>
  <% end %>
</div>
