<h1>楽曲詳細</h1>
<p>
    楽曲名：<%= @music.title %><br>
    アーティスト：<%= @music.artist %><br>
    難易度：<%= @music.difficulty %><br>
    ジャンル：<%= @music.genre %>
</p>

<%= link_to '戻る', musics_path(difficulty: @music.difficulty) %>