<!DOCTYPE html>
<html>
  <head>
    <title>Recomusic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user&.host? %>
      <h1 style="color: red;background-color: black;">管理者モード</h1>
    <% end %>
    <%= yield %>
  </body>
</html>
